<h1>Offres d’emploi</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Entreprise</th>
      <th>Lieu</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% jobs.forEach(job => { %>
      <tr>
        <td>
          <a href="/jobs/<%= job.job_id %>">
            <%= job.titre %>
          </a>
        </td>
        <td><%= job.company?.name || "N/A" %></td>
        <td><%= job.location %></td>
        <td><%= job.employment_type %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
